body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 80%;
  margin: 0 auto;
  padding: 20px; */
}

form {
  background: #fff;
}

.fa-minus-circle {
  color: red;
}

.home .post img {
  position: absolute;
  width: 30%;
  /* top: 20px; */
  left: -50px;
  opacity: 0.5;
}

.home .post {
  overflow: hidden;
  padding-left: 140px;
}
